<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jl.mybean.mydao.UsersMapper">
	<resultMap id="BaseResultMap" type="com.jl.mybean.Users">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="pass" property="pass" jdbcType="VARCHAR" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="p_user_id" property="pUserId" jdbcType="INTEGER" />
		<result column="cid" property="cid" jdbcType="INTEGER" />
		<result column="last_login" property="lastLogin" jdbcType="TIMESTAMP" />
		<result column="is_active" property="isActive" jdbcType="BIT" />
		<result column="current_mode" property="currentMode" jdbcType="VARCHAR" />
		<result column="send_type" property="sendType" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
		<result column="deleted" property="deleted" jdbcType="SMALLINT" />
		<result column="version" property="version" jdbcType="INTEGER" />
	</resultMap>
	<resultMap type="com.jl.mybean.Users" id="myResultMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, username, name, pass, tel, email, address, p_user_id, cid,
		last_login, is_active,
		current_mode, send_type, create_time, modify_time, deleted, version
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from users
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByPuserid" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from users
		where p_user_id = #{p_user_id,jdbcType=INTEGER}
	</select>
	<select id="findUserByname" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from users
		where username = #{username,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from users
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.jl.mybean.Users"
		useGeneratedKeys="true" keyProperty="id">
		insert into users (username, name, pass,
		tel, email, address,
		p_user_id, cid, last_login,
		is_active, current_mode, send_type,
		create_time, modify_time, deleted,
		version)
		values (#{username,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
		#{pass,jdbcType=VARCHAR},
		#{tel,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
		#{pUserId,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER},
		#{lastLogin,jdbcType=TIMESTAMP},
		#{isActive,jdbcType=BIT}, #{currentMode,jdbcType=VARCHAR}, #{sendType,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP},
		#{deleted,jdbcType=SMALLINT},
		#{version,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.jl.mybean.Users"
		useGeneratedKeys="true" keyProperty="id">
		insert into users
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="username != null">
				username,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="pass != null">
				pass,
			</if>
			<if test="tel != null">
				tel,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="pUserId != null">
				p_user_id,
			</if>
			<if test="cid != null">
				cid,
			</if>
			<if test="lastLogin != null">
				last_login,
			</if>
			<if test="isActive != null">
				is_active,
			</if>
			<if test="currentMode != null">
				current_mode,
			</if>
			<if test="sendType != null">
				send_type,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="modifyTime != null">
				modify_time,
			</if>
			<if test="deleted != null">
				deleted,
			</if>
			<if test="version != null">
				version,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="pass != null">
				#{pass,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				#{tel,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="pUserId != null">
				#{pUserId,jdbcType=INTEGER},
			</if>
			<if test="cid != null">
				#{cid,jdbcType=INTEGER},
			</if>
			<if test="lastLogin != null">
				#{lastLogin,jdbcType=TIMESTAMP},
			</if>
			<if test="isActive != null">
				#{isActive,jdbcType=BIT},
			</if>
			<if test="currentMode != null">
				#{currentMode,jdbcType=VARCHAR},
			</if>
			<if test="sendType != null">
				#{sendType,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				#{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deleted != null">
				#{deleted,jdbcType=SMALLINT},
			</if>
			<if test="version != null">
				#{version,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.jl.mybean.Users">
		update users
		<set>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="pass != null">
				pass = #{pass,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				tel = #{tel,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="pUserId != null">
				p_user_id = #{pUserId,jdbcType=INTEGER},
			</if>
			<if test="cid != null">
				cid = #{cid,jdbcType=INTEGER},
			</if>
			<if test="lastLogin != null">
				last_login = #{lastLogin,jdbcType=TIMESTAMP},
			</if>
			<if test="isActive != null">
				is_active = #{isActive,jdbcType=BIT},
			</if>
			<if test="currentMode != null">
				current_mode = #{currentMode,jdbcType=VARCHAR},
			</if>
			<if test="sendType != null">
				send_type = #{sendType,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deleted != null">
				deleted = #{deleted,jdbcType=SMALLINT},
			</if>
			<if test="version != null">
				version = #{version,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jl.mybean.Users">
		update users
		set username = #{username,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		pass = #{pass,jdbcType=VARCHAR},
		tel = #{tel,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		p_user_id = #{pUserId,jdbcType=INTEGER},
		cid = #{cid,jdbcType=INTEGER},
		last_login = #{lastLogin,jdbcType=TIMESTAMP},
		is_active = #{isActive,jdbcType=BIT},
		current_mode = #{currentMode,jdbcType=VARCHAR},
		send_type = #{sendType,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		modify_time = #{modifyTime,jdbcType=TIMESTAMP},
		deleted = #{deleted,jdbcType=SMALLINT},
		version = #{version,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>